    * {
        margin: 0;
        padding: 0;
    }

    body {
        background: url(http://s2.favim.com/orig/150524/background-pink-purple-unicorn-Favim.com-2760942.jpg);
    }

    .error {
        border-width: 4px;
        border-color: red;
    }

    .spacetop{
        height: 200px;
    }

    .sing-up{

    }

    .sing-out{
        margin-top: 7px;
    }

    .whitebg{
        background: url(http://s6.favim.com/orig/141107/cartoon-crazy-cute-disgusting-Favim.com-2216018.jpg);
        height: 1659px;
        width: 1224px;
    }

    .spacesides{
        height: 600px;
        background: rgba(200, 0, 0, 0.1);
    }

    .footer {
        background-color: rgba(79, 79, 79, 0.6);
        text-align: center;
        font-size: 24px;
    }

    .postdiv {
        background-color: aliceblue;
    }

    .mess {
        background-color: bisque;
        margin-top: 20px;
    }

    .fromTop{
        margin-top: 60px;
    }

    .btn-scroll{
        width: 140px;
        height: 140px;
        position: fixed;
        z-index: 99999;
        top: 65%;
        left: 3%;
        display: none;
    }

    .textbar{
        font-size: 18px;
        color: whitesmoke;
    }
